<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа № 12</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="title">
        <h1>{{ title }}</h1>
    </div>

    <div id="info" >
        <h3>{{ info }}<h3>
    </div>

    <div id="form">
        <h2>{{ formTitle }}</h2>
        <h3 id="surname">{{ surname }}</h3>
        <input id="surnameInput" type="text" placeholder="Введите Фамилию" v-model="phrase1">
        <h3 id="name">{{ name }}</h3>
        <input id="nameInput" type="text" placeholder="Введите Имя" v-model="phrase2">
        <h3>Число символов : {{length}}</h3>
        <button v-bind:disabled="isDisabled" v-on:click="addNewNote">
        записать
      </button>
    </div>
    <ol>
    </ol>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>