body{
    background-color: #f0ff8c;
}
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
h1,h2,h3,h5,p,b {
    font-family: 'Neucha', cursive;
}

#title,#info {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

#form{
    background-color: whitesmoke;
    width: 300px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75px;
    text-align: center  ;
}

#surname{
    float:left;
    margin-left: 20px;
    margin-right:200px;
}
#name{
    float:left;
    margin-right: 230px;
    margin-left: 20px;
}

#surnameInput,#nameInput{
    width: 150px;
    height: 25px;
    float: left;
    margin-left: 20px;
    margin-right: 100px;
}

.inner{
    margin-bottom:60px;
}
ol{
    background-color: whitesmoke;
    border-radius: 75px;
    padding: 30px;
}
.nothing {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 75px;
}
button {
    background-color: #f0ff8c;
    padding: 10px 30px 10px 30px;
    border-radius: 75px;
}